<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/mainPageStyles.css">
    <link rel="stylesheet" href="~/css/CartStyle.css">
    <link rel="stylesheet" href="~/css/Colors.css">
    <script src="~/js/cartLoader.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header-container">
            <a class="logo" href="/baraholka">
                <img src="~/assets/logo.png" alt="logo" width="121px" height="79px" id="logo">
            </a>

            <ul class="ul">
                <li class="li">
                    <a class="link" href="/baraholka">Барахолка</a>
                </li>
                <li class="li">
                        <a class="link" href="/profile">Профиль</a>
                </li>
            </ul>

            <button class="modeButton">
                <img src="~/assets/modeButton.png" alt="modeButton" width="43px" height="61px" id="modeButton">
            </button>
        </div>
    </div>

    <div class="cart-container">
        <div class="cart-header">Корзина</div>

        <div class="cart-design-lines">
            <div class="cart-design-lines up-line"></div>
        </div>

        <div class="cart-slots-container">

        </div>

        <div class="cart-design-lines">
            <div class="cart-design-lines down-line"></div>
        </div>

        <button class="cart-accept">
            Подтвердить заказ
        </button>
    </div>

    <script src="~/js/InversiaController.js"></script>
</body>
</html>